{% extends 'base.html' %}
{% block content %}
    <div class="flex">
        <div>
            <h3>{{ room.name }}</h3>
            <p>{{ room.description }}</p>
            <div>
                <h3>Conversations</h3>
                <hr>
                {% for message in roomMessages %}
                <div>
                    {% if request.user == message.user %}
                        <a href={% url 'deleteMessage' message.id %}>Delete</a>
                        <a href={% url 'updateMessage' message.id %}>Edit</a>
                    {% endif %}
                    <small>{{ message.user }}  {{ message.created|timesince }}</small>
                    <p>{{ message.body }}</p>
                </div>
                {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
            <div>
                <form method='POST' action=''>
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="Enter your message here..." />
                </form>
            </div>
            {% endif %}
        </div>
        <div>
            <h3>Participants</h3>
            <hr>
            {% for user in participants %}
                <div>
                    <p>@{{ user.username }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}